<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.allychan.studyjamfinalreport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Movie1Activity" android:label="Movie 1" />
        <activity android:name=".Movie2Activity" android:label="Movie 2" />
        <activity android:name=".Movie3Activity" android:label="Movie 3" />
        <activity android:name=".Movie4Activity" android:label="Movie 4" />
        <activity android:name=".Movie5Activity" android:label="Movie 5" />
        <activity android:name=".ContactActivity" android:label="Enquiry" ></activity>
    </application>

</manifest>
